# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log

/migrations/
*.pyc

# Environment Variables
.env
venv/
env/
ENV/
env

# IDEs
.vscode/
.idea/
*.sublime-workspace

# Static files
/staticfiles/

workouts_exp_*.py

*.ipynb